In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('C:/Users/Anubhav Sanyal/Desktop/Summer of ML-Coding Blocks/Decision Trees/Train.csv')

In [3]:
data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.7500,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.0000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.0000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.2500,NaN,Q,16,NaN,NaN
5,2.0,0.0,"Gaskell, Mr. Alfred",male,16.0,0.0,0.0,239865,26.0000,NaN,S,NaN,NaN,"Liverpool / Montreal, PQ"
6,2.0,0.0,"Phillips, Mr. Escott Robert",male,43.0,0.0,1.0,S.O./P.P. 2,21.0000,NaN,S,NaN,NaN,"Ilfracombe, Devon"
7,1.0,1.0,"Leader, Dr. Alice (Farnham)",female,49.0,0.0,0.0,17465,25.9292,D17,S,8,NaN,"New York, NY"
8,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
9,2.0,0.0,"Wheeler, Mr. Edwin ""Frederick""",male,NaN,0.0,0.0,SC/PARIS 2159,12.8750,NaN,S,NaN,NaN,NaN
10,2.0,0.0,"Hickman, Mr. Stanley George",male,21.0,2.0,0.0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,"West Hampstead, London / Neepawa, MB"
11,3.0,1.0,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0.0,0.0,330919,7.8292,NaN,Q,13,NaN,NaN
12,2.0,1.0,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.0,0.0,2.0,C.A. 33112,36.7500,NaN,S,14,NaN,"St Ives, Cornwall / Hancock, MI"
13,2.0,1.0,"Davies, Master. John Morgan Jr",male,8.0,1.0,1.0,C.A. 33112,36.7500,NaN,S,14,NaN,"St Ives, Cornwall / Hancock, MI"
14,3.0,0.0,"Naidenoff, Mr. Penko",male,22.0,0.0,0.0,349206,7.8958,NaN,S,NaN,NaN,NaN
15,1.0,0.0,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0.0,0.0,113510,35.0000,C128,S,NaN,NaN,"London, England"
16,1.0,1.0,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1.0,1.0,17421,110.8833,C68,C,4,NaN,"Haverford, PA"
17,3.0,0.0,"Mangan, Miss. Mary",female,30.5,0.0,0.0,364850,7.7500,NaN,Q,NaN,61.0,NaN
18,2.0,0.0,"Pernot, Mr. Rene",male,NaN,0.0,0.0,SC/PARIS 2131,15.0500,NaN,C,NaN,NaN,NaN
19,3.0,0.0,"Vander Planke, Mr. Leo Edmondus",male,16.0,2.0,0.0,345764,18.0000,NaN,S,NaN,NaN,NaN
20,1.0,1.0,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2.0,0.0,11770,25.7000,C101,S,2,NaN,"New York, NY"
21,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
22,2.0,1.0,"Lehmann, Miss. Bertha",female,17.0,0.0,0.0,SC 1748,12.0000,NaN,C,12,NaN,"Berne, Switzerland / Central City, IA"
23,2.0,1.0,"Reynaldo, Ms. Encarnacion",female,28.0,0.0,0.0,230434,13.0000,NaN,S,9,NaN,Spain
24,3.0,0.0,"Minkoff, Mr. Lazar",male,21.0,0.0,0.0,349211,7.8958,NaN,S,NaN,NaN,NaN
25,2.0,0.0,"Chapman, Mr. Charles Henry",male,52.0,0.0,0.0,248731,13.5000,NaN,S,NaN,130.0,"Bronx, NY"
26,3.0,1.0,"Midtsjo, Mr. Karl Albert",male,21.0,0.0,0.0,345501,7.7750,NaN,S,15,NaN,NaN
27,1.0,0.0,"Moore, Mr. Clarence Bloomfield",male,47.0,0.0,0.0,113796,42.4000,NaN,S,NaN,NaN,"Washington, DC"
28,3.0,0.0,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2.0,2.0,W./C. 6608,34.3750,NaN,S,NaN,NaN,"Rotherfield, Sussex, England Essex Co, MA"
29,3.0,0.0,"Rice, Master. George Hugh",male,8.0,4.0,1.0,382652,29.1250,NaN,Q,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,3.0,0.0,"Lindell, Mr. Edvard Bengtsson",male,36.0,1.0,0.0,349910,15.5500,NaN,S,A,NaN,NaN
980,3.0,0.0,"Assaf, Mr. Gerios",male,21.0,0.0,0.0,2692,7.2250,NaN,C,NaN,NaN,"Ottawa, ON"
981,3.0,1.0,"Moor, Mrs. (Beila)",female,27.0,0.0,1.0,392096,12.4750,E121,S,14,NaN,NaN
982,2.0,0.0,"Hocking, Mr. Samuel James Metcalfe",male,36.0,0.0,0.0,242963,13.0000,NaN,S,NaN,NaN,"Devonport, England"
983,3.0,0.0,"Davies, Mr. John Samuel",male,21.0,2.0,0.0,A/4 48871,24.1500,NaN,S,NaN,NaN,"West Bromwich, England Pontiac, MI"
984,2.0,1.0,"Garside, Miss. Ethel",female,34.0,0.0,0.0,243880,13.0000,NaN,S,12,NaN,"Brooklyn, NY"
985,1.0,1.0,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0.0,0.0,112377,27.7208,NaN,C,6,NaN,"Stockholm, Sweden"
986,3.0,1.0,"Peter, Master. Michael J",male,NaN,1.0,1.0,2668,22.3583,NaN,C,C,NaN,NaN
987,1.0,1.0,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1.0,0.0,13507,55.9000,E44,S,11,NaN,"Duluth, MN"
988,3.0,0.0,"Mineff, Mr. Ivan",male,24.0,0.0,0.0,349233,7.8958,NaN,S,NaN,NaN,NaN
989,3.0,0.0,"Naughton, Miss. Hannah",female,NaN,0.0,0.0,365237,7.7500,NaN,Q,NaN,NaN,NaN
990,3.0,1.0,"Abrahamsson, Mr. Abraham August Johannes",male,20.0,0.0,0.0,SOTON/O2 3101284,7.9250,NaN,S,15,NaN,"Taalintehdas, Finland Hoboken, NJ"
991,1.0,1.0,"Minahan, Miss. Daisy E",female,33.0,1.0,0.0,19928,90.0000,C78,Q,14,NaN,"Green Bay, WI"
992,3.0,1.0,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0.0,0.0,370370,7.7500,NaN,Q,15,NaN,NaN
993,1.0,1.0,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.0,1.0,0.0,11753,52.5542,D19,S,5,NaN,"Boston, MA"
994,3.0,1.0,"Drapkin, Miss. Jennie",female,23.0,0.0,0.0,SOTON/OQ 392083,8.0500,NaN,S,NaN,NaN,"London New York, NY"
995,2.0,1.0,"Mallet, Master. Andre",male,1.0,0.0,2.0,S.C./PARIS 2079,37.0042,NaN,C,10,NaN,"Paris / Montreal, PQ"
996,3.0,0.0,"Kelly, Mr. James",male,34.5,0.0,0.0,330911,7.8292,NaN,Q,NaN,70.0,NaN
997,3.0,0.0,"Andersen, Mr. Albert Karvin",male,32.0,0.0,0.0,C 4001,22.5250,NaN,S,NaN,260.0,"Bergen, Norway"
998,2.0,1.0,"Bentham, Miss. Lilian W",female,19.0,0.0,0.0,28404,13.0000,NaN,S,12,NaN,"Rochester, NY"
999,1.0,1.0,"Bissette, Miss. Amelia",female,35.0,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
1000,3.0,0.0,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1.0,1.0,347080,14.4000,NaN,S,NaN,NaN,"Stanton, IA"
1001,2.0,0.0,"Maybery, Mr. Frank Hubert",male,40.0,0.0,0.0,239059,16.0000,NaN,S,NaN,NaN,"Weston-Super-Mare / Moose Jaw, SK"
1002,1.0,1.0,"Bowerman, Miss. Elsie Edith",female,22.0,0.0,1.0,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
1003,3.0,0.0,"Sutehall, Mr. Henry Jr",male,25.0,0.0,0.0,SOTON/OQ 392076,7.0500,NaN,S,NaN,NaN,NaN
1004,1.0,1.0,"Blank, Mr. Henry",male,40.0,0.0,0.0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
1005,3.0,0.0,"Laitinen, Miss. Kristina Sofia",female,37.0,0.0,0.0,4135,9.5875,NaN,S,NaN,NaN,NaN
1006,1.0,1.0,"Newell, Miss. Marjorie",female,23.0,1.0,0.0,35273,113.2750,D36,C,6,NaN,"Lexington, MA"
1007,3.0,1.0,"Nicola-Yarred, Master. Elias",male,12.0,1.0,0.0,2651,11.2417,NaN,C,C,NaN,NaN
1008,3.0,0.0,"Corn, Mr. Harry",male,30.0,0.0,0.0,SOTON/OQ 392090,8.0500,NaN,S,NaN,NaN,London

In [4]:
data=data.drop(['ticket','cabin','embarked','boat','body','home.dest','name'],axis=1)

In [5]:
data

      pclass  survived     sex   age  sibsp  parch      fare
0        3.0       0.0  female   NaN    0.0    0.0    7.7500
1        2.0       0.0    male  39.0    0.0    0.0   26.0000
2        2.0       1.0  female  40.0    0.0    0.0   13.0000
3        3.0       1.0  female  31.0    1.0    1.0   20.5250
4        3.0       1.0  female   NaN    2.0    0.0   23.2500
5        2.0       0.0    male  16.0    0.0    0.0   26.0000
6        2.0       0.0    male  43.0    0.0    1.0   21.0000
7        1.0       1.0  female  49.0    0.0    0.0   25.9292
8        1.0       0.0    male  48.0    0.0    0.0   50.4958
9        2.0       0.0    male   NaN    0.0    0.0   12.8750
10       2.0       0.0    male  21.0    2.0    0.0   73.5000
11       3.0       1.0  female   NaN    0.0    0.0    7.8292
12       2.0       1.0  female  48.0    0.0    2.0   36.7500
13       2.0       1.0    male   8.0    1.0    1.0   36.7500
14       3.0       0.0    male  22.0    0.0    0.0    7.8958
15       1.0       0.0    male   NaN    0.0    0.0   35.0000
16       1.0       1.0  female  39.0    1.0    1.0  110.8833
17       3.0       0.0  female  30.5    0.0    0.0    7.7500
18       2.0       0.0    male   NaN    0.0    0.0   15.0500
19       3.0       0.0    male  16.0    2.0    0.0   18.0000
20       1.0       1.0  female  55.0    2.0    0.0   25.7000
21       1.0       1.0    male  80.0    0.0    0.0   30.0000
22       2.0       1.0  female  17.0    0.0    0.0   12.0000
23       2.0       1.0  female  28.0    0.0    0.0   13.0000
24       3.0       0.0    male  21.0    0.0    0.0    7.8958
25       2.0       0.0    male  52.0    0.0    0.0   13.5000
26       3.0       1.0    male  21.0    0.0    0.0    7.7750
27       1.0       0.0    male  47.0    0.0    0.0   42.4000
28       3.0       0.0  female   9.0    2.0    2.0   34.3750
29       3.0       0.0    male   8.0    4.0    1.0   29.1250
...      ...       ...     ...   ...    ...    ...       ...
979      3.0       0.0    male  36.0    1.0    0.0   15.5500
980      3.0       0.0    male  21.0    0.0    0.0    7.2250
981      3.0       1.0  female  27.0    0.0    1.0   12.4750
982      2.0       0.0    male  36.0    0.0    0.0   13.0000
983      3.0       0.0    male  21.0    2.0    0.0   24.1500
984      2.0       1.0  female  34.0    0.0    0.0   13.0000
985      1.0       1.0  female  55.0    0.0    0.0   27.7208
986      3.0       1.0    male   NaN    1.0    1.0   22.3583
987      1.0       1.0  female  39.0    1.0    0.0   55.9000
988      3.0       0.0    male  24.0    0.0    0.0    7.8958
989      3.0       0.0  female   NaN    0.0    0.0    7.7500
990      3.0       1.0    male  20.0    0.0    0.0    7.9250
991      1.0       1.0  female  33.0    1.0    0.0   90.0000
992      3.0       1.0  female   NaN    0.0    0.0    7.7500
993      1.0       1.0  female  45.0    1.0    0.0   52.5542
994      3.0       1.0  female  23.0    0.0    0.0    8.0500
995      2.0       1.0    male   1.0    0.0    2.0   37.0042
996      3.0       0.0    male  34.5    0.0    0.0    7.8292
997      3.0       0.0    male  32.0    0.0    0.0   22.5250
998      2.0       1.0  female  19.0    0.0    0.0   13.0000
999      1.0       1.0  female  35.0    0.0    0.0  135.6333
1000     3.0       0.0  female  28.0    1.0    1.0   14.4000
1001     2.0       0.0    male  40.0    0.0    0.0   16.0000
1002     1.0       1.0  female  22.0    0.0    1.0   55.0000
1003     3.0       0.0    male  25.0    0.0    0.0    7.0500
1004     1.0       1.0    male  40.0    0.0    0.0   31.0000
1005     3.0       0.0  female  37.0    0.0    0.0    9.5875
1006     1.0       1.0  female  23.0    1.0    0.0  113.2750
1007     3.0       1.0    male  12.0    1.0    0.0   11.2417
1008     3.0       0.0    male  30.0    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [6]:
data.sex[data.sex=="female"]=0
data.sex[data.sex=="male"]=1

C:\Users\Anubhav Sanyal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Anubhav Sanyal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
data

      pclass  survived sex   age  sibsp  parch      fare
0        3.0       0.0   0   NaN    0.0    0.0    7.7500
1        2.0       0.0   1  39.0    0.0    0.0   26.0000
2        2.0       1.0   0  40.0    0.0    0.0   13.0000
3        3.0       1.0   0  31.0    1.0    1.0   20.5250
4        3.0       1.0   0   NaN    2.0    0.0   23.2500
5        2.0       0.0   1  16.0    0.0    0.0   26.0000
6        2.0       0.0   1  43.0    0.0    1.0   21.0000
7        1.0       1.0   0  49.0    0.0    0.0   25.9292
8        1.0       0.0   1  48.0    0.0    0.0   50.4958
9        2.0       0.0   1   NaN    0.0    0.0   12.8750
10       2.0       0.0   1  21.0    2.0    0.0   73.5000
11       3.0       1.0   0   NaN    0.0    0.0    7.8292
12       2.0       1.0   0  48.0    0.0    2.0   36.7500
13       2.0       1.0   1   8.0    1.0    1.0   36.7500
14       3.0       0.0   1  22.0    0.0    0.0    7.8958
15       1.0       0.0   1   NaN    0.0    0.0   35.0000
16       1.0       1.0   0  39.0    1.0    1.0  110.8833
17       3.0       0.0   0  30.5    0.0    0.0    7.7500
18       2.0       0.0   1   NaN    0.0    0.0   15.0500
19       3.0       0.0   1  16.0    2.0    0.0   18.0000
20       1.0       1.0   0  55.0    2.0    0.0   25.7000
21       1.0       1.0   1  80.0    0.0    0.0   30.0000
22       2.0       1.0   0  17.0    0.0    0.0   12.0000
23       2.0       1.0   0  28.0    0.0    0.0   13.0000
24       3.0       0.0   1  21.0    0.0    0.0    7.8958
25       2.0       0.0   1  52.0    0.0    0.0   13.5000
26       3.0       1.0   1  21.0    0.0    0.0    7.7750
27       1.0       0.0   1  47.0    0.0    0.0   42.4000
28       3.0       0.0   0   9.0    2.0    2.0   34.3750
29       3.0       0.0   1   8.0    4.0    1.0   29.1250
...      ...       ...  ..   ...    ...    ...       ...
979      3.0       0.0   1  36.0    1.0    0.0   15.5500
980      3.0       0.0   1  21.0    0.0    0.0    7.2250
981      3.0       1.0   0  27.0    0.0    1.0   12.4750
982      2.0       0.0   1  36.0    0.0    0.0   13.0000
983      3.0       0.0   1  21.0    2.0    0.0   24.1500
984      2.0       1.0   0  34.0    0.0    0.0   13.0000
985      1.0       1.0   0  55.0    0.0    0.0   27.7208
986      3.0       1.0   1   NaN    1.0    1.0   22.3583
987      1.0       1.0   0  39.0    1.0    0.0   55.9000
988      3.0       0.0   1  24.0    0.0    0.0    7.8958
989      3.0       0.0   0   NaN    0.0    0.0    7.7500
990      3.0       1.0   1  20.0    0.0    0.0    7.9250
991      1.0       1.0   0  33.0    1.0    0.0   90.0000
992      3.0       1.0   0   NaN    0.0    0.0    7.7500
993      1.0       1.0   0  45.0    1.0    0.0   52.5542
994      3.0       1.0   0  23.0    0.0    0.0    8.0500
995      2.0       1.0   1   1.0    0.0    2.0   37.0042
996      3.0       0.0   1  34.5    0.0    0.0    7.8292
997      3.0       0.0   1  32.0    0.0    0.0   22.5250
998      2.0       1.0   0  19.0    0.0    0.0   13.0000
999      1.0       1.0   0  35.0    0.0    0.0  135.6333
1000     3.0       0.0   0  28.0    1.0    1.0   14.4000
1001     2.0       0.0   1  40.0    0.0    0.0   16.0000
1002     1.0       1.0   0  22.0    0.0    1.0   55.0000
1003     3.0       0.0   1  25.0    0.0    0.0    7.0500
1004     1.0       1.0   1  40.0    0.0    0.0   31.0000
1005     3.0       0.0   0  37.0    0.0    0.0    9.5875
1006     1.0       1.0   0  23.0    1.0    0.0  113.2750
1007     3.0       1.0   1  12.0    1.0    0.0   11.2417
1008     3.0       0.0   1  30.0    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [8]:
data=data.fillna(data['age'].mean())

In [9]:
data

      pclass  survived  sex        age  sibsp  parch      fare
0        3.0       0.0    0  29.838978    0.0    0.0    7.7500
1        2.0       0.0    1  39.000000    0.0    0.0   26.0000
2        2.0       1.0    0  40.000000    0.0    0.0   13.0000
3        3.0       1.0    0  31.000000    1.0    1.0   20.5250
4        3.0       1.0    0  29.838978    2.0    0.0   23.2500
5        2.0       0.0    1  16.000000    0.0    0.0   26.0000
6        2.0       0.0    1  43.000000    0.0    1.0   21.0000
7        1.0       1.0    0  49.000000    0.0    0.0   25.9292
8        1.0       0.0    1  48.000000    0.0    0.0   50.4958
9        2.0       0.0    1  29.838978    0.0    0.0   12.8750
10       2.0       0.0    1  21.000000    2.0    0.0   73.5000
11       3.0       1.0    0  29.838978    0.0    0.0    7.8292
12       2.0       1.0    0  48.000000    0.0    2.0   36.7500
13       2.0       1.0    1   8.000000    1.0    1.0   36.7500
14       3.0       0.0    1  22.000000    0.0    0.0    7.8958
15       1.0       0.0    1  29.838978    0.0    0.0   35.0000
16       1.0       1.0    0  39.000000    1.0    1.0  110.8833
17       3.0       0.0    0  30.500000    0.0    0.0    7.7500
18       2.0       0.0    1  29.838978    0.0    0.0   15.0500
19       3.0       0.0    1  16.000000    2.0    0.0   18.0000
20       1.0       1.0    0  55.000000    2.0    0.0   25.7000
21       1.0       1.0    1  80.000000    0.0    0.0   30.0000
22       2.0       1.0    0  17.000000    0.0    0.0   12.0000
23       2.0       1.0    0  28.000000    0.0    0.0   13.0000
24       3.0       0.0    1  21.000000    0.0    0.0    7.8958
25       2.0       0.0    1  52.000000    0.0    0.0   13.5000
26       3.0       1.0    1  21.000000    0.0    0.0    7.7750
27       1.0       0.0    1  47.000000    0.0    0.0   42.4000
28       3.0       0.0    0   9.000000    2.0    2.0   34.3750
29       3.0       0.0    1   8.000000    4.0    1.0   29.1250
...      ...       ...  ...        ...    ...    ...       ...
979      3.0       0.0    1  36.000000    1.0    0.0   15.5500
980      3.0       0.0    1  21.000000    0.0    0.0    7.2250
981      3.0       1.0    0  27.000000    0.0    1.0   12.4750
982      2.0       0.0    1  36.000000    0.0    0.0   13.0000
983      3.0       0.0    1  21.000000    2.0    0.0   24.1500
984      2.0       1.0    0  34.000000    0.0    0.0   13.0000
985      1.0       1.0    0  55.000000    0.0    0.0   27.7208
986      3.0       1.0    1  29.838978    1.0    1.0   22.3583
987      1.0       1.0    0  39.000000    1.0    0.0   55.9000
988      3.0       0.0    1  24.000000    0.0    0.0    7.8958
989      3.0       0.0    0  29.838978    0.0    0.0    7.7500
990      3.0       1.0    1  20.000000    0.0    0.0    7.9250
991      1.0       1.0    0  33.000000    1.0    0.0   90.0000
992      3.0       1.0    0  29.838978    0.0    0.0    7.7500
993      1.0       1.0    0  45.000000    1.0    0.0   52.5542
994      3.0       1.0    0  23.000000    0.0    0.0    8.0500
995      2.0       1.0    1   1.000000    0.0    2.0   37.0042
996      3.0       0.0    1  34.500000    0.0    0.0    7.8292
997      3.0       0.0    1  32.000000    0.0    0.0   22.5250
998      2.0       1.0    0  19.000000    0.0    0.0   13.0000
999      1.0       1.0    0  35.000000    0.0    0.0  135.6333
1000     3.0       0.0    0  28.000000    1.0    1.0   14.4000
1001     2.0       0.0    1  40.000000    0.0    0.0   16.0000
1002     1.0       1.0    0  22.000000    0.0    1.0   55.0000
1003     3.0       0.0    1  25.000000    0.0    0.0    7.0500
1004     1.0       1.0    1  40.000000    0.0    0.0   31.0000
1005     3.0       0.0    0  37.000000    0.0    0.0    9.5875
1006     1.0       1.0    0  23.000000    1.0    0.0  113.2750
1007     3.0       1.0    1  12.000000    1.0    0.0   11.2417
1008     3.0       0.0    1  30.000000    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [10]:
X=data.iloc[:,[0,2,3,4,5,6]]

In [11]:
y=data.iloc[:,1]

In [12]:
X

      pclass  sex        age  sibsp  parch      fare
0        3.0    0  29.838978    0.0    0.0    7.7500
1        2.0    1  39.000000    0.0    0.0   26.0000
2        2.0    0  40.000000    0.0    0.0   13.0000
3        3.0    0  31.000000    1.0    1.0   20.5250
4        3.0    0  29.838978    2.0    0.0   23.2500
5        2.0    1  16.000000    0.0    0.0   26.0000
6        2.0    1  43.000000    0.0    1.0   21.0000
7        1.0    0  49.000000    0.0    0.0   25.9292
8        1.0    1  48.000000    0.0    0.0   50.4958
9        2.0    1  29.838978    0.0    0.0   12.8750
10       2.0    1  21.000000    2.0    0.0   73.5000
11       3.0    0  29.838978    0.0    0.0    7.8292
12       2.0    0  48.000000    0.0    2.0   36.7500
13       2.0    1   8.000000    1.0    1.0   36.7500
14       3.0    1  22.000000    0.0    0.0    7.8958
15       1.0    1  29.838978    0.0    0.0   35.0000
16       1.0    0  39.000000    1.0    1.0  110.8833
17       3.0    0  30.500000    0.0    0.0    7.7500
18       2.0    1  29.838978    0.0    0.0   15.0500
19       3.0    1  16.000000    2.0    0.0   18.0000
20       1.0    0  55.000000    2.0    0.0   25.7000
21       1.0    1  80.000000    0.0    0.0   30.0000
22       2.0    0  17.000000    0.0    0.0   12.0000
23       2.0    0  28.000000    0.0    0.0   13.0000
24       3.0    1  21.000000    0.0    0.0    7.8958
25       2.0    1  52.000000    0.0    0.0   13.5000
26       3.0    1  21.000000    0.0    0.0    7.7750
27       1.0    1  47.000000    0.0    0.0   42.4000
28       3.0    0   9.000000    2.0    2.0   34.3750
29       3.0    1   8.000000    4.0    1.0   29.1250
...      ...  ...        ...    ...    ...       ...
979      3.0    1  36.000000    1.0    0.0   15.5500
980      3.0    1  21.000000    0.0    0.0    7.2250
981      3.0    0  27.000000    0.0    1.0   12.4750
982      2.0    1  36.000000    0.0    0.0   13.0000
983      3.0    1  21.000000    2.0    0.0   24.1500
984      2.0    0  34.000000    0.0    0.0   13.0000
985      1.0    0  55.000000    0.0    0.0   27.7208
986      3.0    1  29.838978    1.0    1.0   22.3583
987      1.0    0  39.000000    1.0    0.0   55.9000
988      3.0    1  24.000000    0.0    0.0    7.8958
989      3.0    0  29.838978    0.0    0.0    7.7500
990      3.0    1  20.000000    0.0    0.0    7.9250
991      1.0    0  33.000000    1.0    0.0   90.0000
992      3.0    0  29.838978    0.0    0.0    7.7500
993      1.0    0  45.000000    1.0    0.0   52.5542
994      3.0    0  23.000000    0.0    0.0    8.0500
995      2.0    1   1.000000    0.0    2.0   37.0042
996      3.0    1  34.500000    0.0    0.0    7.8292
997      3.0    1  32.000000    0.0    0.0   22.5250
998      2.0    0  19.000000    0.0    0.0   13.0000
999      1.0    0  35.000000    0.0    0.0  135.6333
1000     3.0    0  28.000000    1.0    1.0   14.4000
1001     2.0    1  40.000000    0.0    0.0   16.0000
1002     1.0    0  22.000000    0.0    1.0   55.0000
1003     3.0    1  25.000000    0.0    0.0    7.0500
1004     1.0    1  40.000000    0.0    0.0   31.0000
1005     3.0    0  37.000000    0.0    0.0    9.5875
1006     1.0    0  23.000000    1.0    0.0  113.2750
1007     3.0    1  12.000000    1.0    0.0   11.2417
1008     3.0    1  30.000000    0.0    0.0    8.0500

[1009 rows x 6 columns]

In [13]:
y

0       0.0
1       0.0
2       1.0
3       1.0
4       1.0
5       0.0
6       0.0
7       1.0
8       0.0
9       0.0
10      0.0
11      1.0
12      1.0
13      1.0
14      0.0
15      0.0
16      1.0
17      0.0
18      0.0
19      0.0
20      1.0
21      1.0
22      1.0
23      1.0
24      0.0
25      0.0
26      1.0
27      0.0
28      0.0
29      0.0
       ...
979     0.0
980     0.0
981     1.0
982     0.0
983     0.0
984     1.0
985     1.0
986     1.0
987     1.0
988     0.0
989     0.0
990     1.0
991     1.0
992     1.0
993     1.0
994     1.0
995     1.0
996     0.0
997     0.0
998     1.0
999     1.0
1000    0.0
1001    0.0
1002    1.0
1003    0.0
1004    1.0
1005    0.0
1006    1.0
1007    1.0
1008    0.0
Name: survived, Length: 1009, dtype: float64

In [14]:
X=X.values

In [15]:
y=y.values

In [16]:
X

array([[  3.        ,   0.        ,  29.83897783,   0.        ,
          0.        ,   7.75      ],
       [  2.        ,   1.        ,  39.        ,   0.        ,
          0.        ,  26.        ],
       [  2.        ,   0.        ,  40.        ,   0.        ,
          0.        ,  13.        ],
       ...,
       [  1.        ,   0.        ,  23.        ,   1.        ,
          0.        , 113.275     ],
       [  3.        ,   1.        ,  12.        ,   1.        ,
          0.        ,  11.2417    ],
       [  3.        ,   1.        ,  30.        ,   0.        ,
          0.        ,   8.05      ]])

In [17]:
X.shape

(1009, 6)

In [18]:
y.shape

(1009,)

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [20]:
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier(criterion="entropy")

In [21]:
dc

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [22]:
dc.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
prediction=dc.predict(X_test)

In [24]:
prediction

array([0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1.,
       0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1.,
       0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0.])

In [25]:
from sklearn.metrics import confusion_matrix
cf=confusion_matrix(y_test,prediction)

In [26]:
cf

array([[92, 30],
       [21, 59]], dtype=int64)

In [27]:
new_test_data=pd.read_csv('C:/Users/Anubhav Sanyal/Desktop/Summer of ML-Coding Blocks/Decision Trees/Test.csv')

In [28]:
new_test_data

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Flynn, Mr. John Irwin (""Irving"")",male,36.0,0.0,0.0,PC 17474,26.3875,E25,S,5,NaN,"Brooklyn, NY"
1,3.0,"Sage, Miss. Constance Gladys",female,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
2,1.0,"Rood, Mr. Hugh Roscoe",male,NaN,0.0,0.0,113767,50.0000,A32,S,NaN,NaN,"Seattle, WA"
3,2.0,"Gillespie, Mr. William Henry",male,34.0,0.0,0.0,12233,13.0000,NaN,S,NaN,NaN,"Vancouver, BC"
4,2.0,"Collander, Mr. Erik Gustaf",male,28.0,0.0,0.0,248740,13.0000,NaN,S,NaN,NaN,"Helsinki, Finland Ashtabula, Ohio"
5,2.0,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1.0,1.0,C.A. 31921,26.2500,NaN,S,14,NaN,"Bishopstoke, Hants / Fayette Valley, ID"
6,1.0,"Uruchurtu, Don. Manuel E",male,40.0,0.0,0.0,PC 17601,27.7208,NaN,C,NaN,NaN,"Mexico City, Mexico"
7,3.0,"Razi, Mr. Raihed",male,NaN,0.0,0.0,2629,7.2292,NaN,C,NaN,NaN,NaN
8,3.0,"Davies, Mr. Evan",male,22.0,0.0,0.0,SC/A4 23568,8.0500,NaN,S,NaN,NaN,NaN
9,1.0,"Loring, Mr. Joseph Holland",male,30.0,0.0,0.0,113801,45.5000,NaN,S,NaN,NaN,"London / New York, NY"
10,3.0,"Saade, Mr. Jean Nassr",male,NaN,0.0,0.0,2676,7.2250,NaN,C,NaN,NaN,NaN
11,3.0,"Moran, Mr. Daniel J",male,NaN,1.0,0.0,371110,24.1500,NaN,Q,NaN,NaN,NaN
12,1.0,"Tucker, Mr. Gilbert Milligan Jr",male,31.0,0.0,0.0,2543,28.5375,C53,C,7,NaN,"Albany, NY"
13,3.0,"Thomson, Mr. Alexander Morrison",male,NaN,0.0,0.0,32302,8.0500,NaN,S,NaN,NaN,NaN
14,2.0,"Beane, Mrs. Edward (Ethel Clarke)",female,19.0,1.0,0.0,2908,26.0000,NaN,S,13,NaN,"Norwich / New York, NY"
15,3.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
16,3.0,"Kiernan, Mr. Philip",male,NaN,1.0,0.0,367229,7.7500,NaN,Q,NaN,NaN,NaN
17,2.0,"Lemore, Mrs. (Amelia Milley)",female,34.0,0.0,0.0,C.A. 34260,10.5000,F33,S,14,NaN,"Chicago, IL"
18,3.0,"Mahon, Miss. Bridget Delia",female,NaN,0.0,0.0,330924,7.8792,NaN,Q,NaN,NaN,NaN
19,2.0,"Mudd, Mr. Thomas Charles",male,16.0,0.0,0.0,S.O./P.P. 3,10.5000,NaN,S,NaN,NaN,"Halesworth, England"
20,1.0,"Cleaver, Miss. Alice",female,22.0,0.0,0.0,113781,151.5500,NaN,S,11,NaN,NaN
21,3.0,"Canavan, Mr. Patrick",male,21.0,0.0,0.0,364858,7.7500,NaN,Q,NaN,NaN,"Ireland Philadelphia, PA"
22,3.0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1.0,5.0,347082,31.2750,NaN,S,NaN,NaN,"Sweden Winnipeg, MN"
23,2.0,"Pengelly, Mr. Frederick William",male,19.0,0.0,0.0,28665,10.5000,NaN,S,NaN,NaN,"Gunnislake, England / Butte, MT"
24,3.0,"Kink, Mr. Vincenz",male,26.0,2.0,0.0,315151,8.6625,NaN,S,NaN,NaN,NaN
25,2.0,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1.0,0.0,244252,26.0000,NaN,S,NaN,NaN,London
26,3.0,"Ford, Miss. Doolina Margaret ""Daisy""",female,21.0,2.0,2.0,W./C. 6608,34.3750,NaN,S,NaN,NaN,"Rotherfield, Sussex, England Essex Co, MA"
27,3.0,"Masselmani, Mrs. Fatima",female,NaN,0.0,0.0,2649,7.2250,NaN,C,C,NaN,NaN
28,1.0,"Bidois, Miss. Rosalie",female,42.0,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
29,1.0,"Hoyt, Mr. William Fisher",male,NaN,0.0,0.0,PC 17600,30.6958,NaN,C,14,NaN,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,2.0,"Bystrom, Mrs. (Karolina)",female,42.0,0.0,0.0,236852,13.0000,NaN,S,NaN,NaN,"New York, NY"
271,1.0,"Snyder, Mr. John Pillsbury",male,24.0,1.0,0.0,21228,82.2667,B45,S,7,NaN,"Minneapolis, MN"
272,3.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
273,1.0,"Head, Mr. Christopher",male,42.0,0.0,0.0,113038,42.5000,B11,S,NaN,NaN,London / Middlesex
274,3.0,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0.0,2.0,370129,20.2125,NaN,S,NaN,NaN,NaN
275,3.0,"O'Connor, Mr. Maurice",male,NaN,0.0,0.0,371060,7.7500,NaN,Q,NaN,NaN,NaN
276,3.0,"Vande Velde, Mr. Johannes Joseph",male,33.0,0.0,0.0,345780,9.5000,NaN,S,NaN,NaN,NaN
277,1.0,"Rheims, Mr. George Alexander Lucien",male,NaN,0.0,0.0,PC 17607,39.6000,NaN,S,A,NaN,"Paris / New York, NY"
278,2.0,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1.0,0.0,P/PP 3381,24.0000,NaN,C,10,NaN,"Russia New York, NY"
279,3.0,"Gronnestad, Mr. Daniel Danielsen",male,32.0,0.0,0.0,8471,8.3625,NaN,S,NaN,NaN,"Foresvik, Norway Portland, ND"
280,3.0,"Karun, Miss. Manca",female,4.0,0.0,1.0,349256,13.4167,NaN,C,15,NaN,NaN
281,3.0,"Shaughnessy, Mr. Patrick",male,NaN,0.0,0.0,370374,7.7500,NaN,Q,NaN,NaN,NaN
282,2.0,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,0.0,1.0,250644,19.5000,NaN,S,14,NaN,"England / Bennington, VT"
283,1.0,"Carter, Mr. William Ernest",male,36.0,1.0,2.0,113760,120.0000,B96 B98,S,C,NaN,"Bryn Mawr, PA"
284,3.0,"Shine, Miss. Ellen Natalia",female,NaN,0.0,0.0,330968,7.7792,NaN,Q,NaN,NaN,NaN
285,1.0,"Hipkins, Mr. William Edward",male,55.0,0.0,0.0,680,50.0000,C39,S,NaN,NaN,London / Birmingham
286,3.0,"Lulic, Mr. Nikola",male,27.0,0.0,0.0,315098,8.6625,NaN,S,15,NaN,NaN
287,1.0,"Frolicher, Miss. Hedwig Margaritha",female,22.0,0.0,2.0,13568,49.5000,B39,C,5,NaN,"Zurich, Switzerland"
288,1.0,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1.0,1.0,16966,134.5000,E34,C,3,NaN,"Tuxedo Park, NY"
289,1.0,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.4750,C83,S,NaN,NaN,"New York, NY"
290,3.0,"Bradley, Miss. Bridget Delia",female,22.0,0.0,0.0,334914,7.7250,NaN,Q,13,NaN,"Kingwilliamstown, Co Cork, Ireland Glens Falls..."
291,1.0,"Harder, Mr. George Achilles",male,25.0,1.0,0.0,11765,55.4417,E50,C,5,NaN,"Brooklyn, NY"
292,3.0,"Carr, Miss. Jeannie",female,37.0,0.0,0.0,368364,7.7500,NaN,Q,NaN,NaN,"Co Sligo, Ireland Hartford, CT"
293,3.0,"de Messemaeker, Mr. Guillaume Joseph",male,36.5,1.0,0.0,345572,17.4000,NaN,S,15,NaN,"Tampico, MT"
294,2.0,"Hale, Mr. Reginald",male,30.0,0.0,0.0,250653,13.0000,NaN,S,NaN,75.0,"Auburn, NY"
295,3.0,"Nieminen, Miss. Manta Josefina",female,29.0,0.0,0.0,3101297,7.9250,NaN,S,NaN,NaN,NaN
296,1.0,"Compton, Miss. Sara Rebecca",female,39.0,1.0,1.0,PC 17756,83.1583,E49,C,14,NaN,"Lakewood, NJ"
297,3.0,"Asplund, Master. Filip Oscar",male,13.0,4.0,2.0,347077,31.3875,NaN,S,NaN,NaN,"Sweden Worcester, MA"
298,3.0,"Samaan, Mr. Hanna",male,NaN,2.0,0.0,2662,21.6792,NaN,C,NaN,NaN,NaN
299,3.0,"Healy, Miss. Hanora ""Nora""",female,NaN,0.0,0.0,370375,7.7500,NaN,Q,16,NaN,NaN

In [29]:
new_test_data=new_test_data.drop(['name','ticket','cabin','embarked','boat','body','home.dest'],axis=1)

In [30]:
new_test_data

     pclass     sex   age  sibsp  parch      fare
0       1.0    male  36.0    0.0    0.0   26.3875
1       3.0  female   NaN    8.0    2.0   69.5500
2       1.0    male   NaN    0.0    0.0   50.0000
3       2.0    male  34.0    0.0    0.0   13.0000
4       2.0    male  28.0    0.0    0.0   13.0000
5       2.0  female  31.0    1.0    1.0   26.2500
6       1.0    male  40.0    0.0    0.0   27.7208
7       3.0    male   NaN    0.0    0.0    7.2292
8       3.0    male  22.0    0.0    0.0    8.0500
9       1.0    male  30.0    0.0    0.0   45.5000
10      3.0    male   NaN    0.0    0.0    7.2250
11      3.0    male   NaN    1.0    0.0   24.1500
12      1.0    male  31.0    0.0    0.0   28.5375
13      3.0    male   NaN    0.0    0.0    8.0500
14      2.0  female  19.0    1.0    0.0   26.0000
15      3.0    male   NaN    0.0    0.0    7.5500
16      3.0    male   NaN    1.0    0.0    7.7500
17      2.0  female  34.0    0.0    0.0   10.5000
18      3.0  female   NaN    0.0    0.0    7.8792
19      2.0    male  16.0    0.0    0.0   10.5000
20      1.0  female  22.0    0.0    0.0  151.5500
21      3.0    male  21.0    0.0    0.0    7.7500
22      3.0  female  39.0    1.0    5.0   31.2750
23      2.0    male  19.0    0.0    0.0   10.5000
24      3.0    male  26.0    2.0    0.0    8.6625
25      2.0  female  44.0    1.0    0.0   26.0000
26      3.0  female  21.0    2.0    2.0   34.3750
27      3.0  female   NaN    0.0    0.0    7.2250
28      1.0  female  42.0    0.0    0.0  227.5250
29      1.0    male   NaN    0.0    0.0   30.6958
..      ...     ...   ...    ...    ...       ...
270     2.0  female  42.0    0.0    0.0   13.0000
271     1.0    male  24.0    1.0    0.0   82.2667
272     3.0    male  27.0    0.0    0.0    7.2250
273     1.0    male  42.0    0.0    0.0   42.5000
274     3.0  female  41.0    0.0    2.0   20.2125
275     3.0    male   NaN    0.0    0.0    7.7500
276     3.0    male  33.0    0.0    0.0    9.5000
277     1.0    male   NaN    0.0    0.0   39.6000
278     2.0  female  28.0    1.0    0.0   24.0000
279     3.0    male  32.0    0.0    0.0    8.3625
280     3.0  female   4.0    0.0    1.0   13.4167
281     3.0    male   NaN    0.0    0.0    7.7500
282     2.0  female  41.0    0.0    1.0   19.5000
283     1.0    male  36.0    1.0    2.0  120.0000
284     3.0  female   NaN    0.0    0.0    7.7792
285     1.0    male  55.0    0.0    0.0   50.0000
286     3.0    male  27.0    0.0    0.0    8.6625
287     1.0  female  22.0    0.0    2.0   49.5000
288     1.0  female  40.0    1.0    1.0  134.5000
289     1.0    male  45.0    1.0    0.0   83.4750
290     3.0  female  22.0    0.0    0.0    7.7250
291     1.0    male  25.0    1.0    0.0   55.4417
292     3.0  female  37.0    0.0    0.0    7.7500
293     3.0    male  36.5    1.0    0.0   17.4000
294     2.0    male  30.0    0.0    0.0   13.0000
295     3.0  female  29.0    0.0    0.0    7.9250
296     1.0  female  39.0    1.0    1.0   83.1583
297     3.0    male  13.0    4.0    2.0   31.3875
298     3.0    male   NaN    2.0    0.0   21.6792
299     3.0  female   NaN    0.0    0.0    7.7500

[300 rows x 6 columns]

In [31]:
new_test_data.sex[new_test_data.sex=="female"]=0
new_test_data.sex[new_test_data.sex=="male"]=1

C:\Users\Anubhav Sanyal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Anubhav Sanyal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
new_test_data

     pclass sex   age  sibsp  parch      fare
0       1.0   1  36.0    0.0    0.0   26.3875
1       3.0   0   NaN    8.0    2.0   69.5500
2       1.0   1   NaN    0.0    0.0   50.0000
3       2.0   1  34.0    0.0    0.0   13.0000
4       2.0   1  28.0    0.0    0.0   13.0000
5       2.0   0  31.0    1.0    1.0   26.2500
6       1.0   1  40.0    0.0    0.0   27.7208
7       3.0   1   NaN    0.0    0.0    7.2292
8       3.0   1  22.0    0.0    0.0    8.0500
9       1.0   1  30.0    0.0    0.0   45.5000
10      3.0   1   NaN    0.0    0.0    7.2250
11      3.0   1   NaN    1.0    0.0   24.1500
12      1.0   1  31.0    0.0    0.0   28.5375
13      3.0   1   NaN    0.0    0.0    8.0500
14      2.0   0  19.0    1.0    0.0   26.0000
15      3.0   1   NaN    0.0    0.0    7.5500
16      3.0   1   NaN    1.0    0.0    7.7500
17      2.0   0  34.0    0.0    0.0   10.5000
18      3.0   0   NaN    0.0    0.0    7.8792
19      2.0   1  16.0    0.0    0.0   10.5000
20      1.0   0  22.0    0.0    0.0  151.5500
21      3.0   1  21.0    0.0    0.0    7.7500
22      3.0   0  39.0    1.0    5.0   31.2750
23      2.0   1  19.0    0.0    0.0   10.5000
24      3.0   1  26.0    2.0    0.0    8.6625
25      2.0   0  44.0    1.0    0.0   26.0000
26      3.0   0  21.0    2.0    2.0   34.3750
27      3.0   0   NaN    0.0    0.0    7.2250
28      1.0   0  42.0    0.0    0.0  227.5250
29      1.0   1   NaN    0.0    0.0   30.6958
..      ...  ..   ...    ...    ...       ...
270     2.0   0  42.0    0.0    0.0   13.0000
271     1.0   1  24.0    1.0    0.0   82.2667
272     3.0   1  27.0    0.0    0.0    7.2250
273     1.0   1  42.0    0.0    0.0   42.5000
274     3.0   0  41.0    0.0    2.0   20.2125
275     3.0   1   NaN    0.0    0.0    7.7500
276     3.0   1  33.0    0.0    0.0    9.5000
277     1.0   1   NaN    0.0    0.0   39.6000
278     2.0   0  28.0    1.0    0.0   24.0000
279     3.0   1  32.0    0.0    0.0    8.3625
280     3.0   0   4.0    0.0    1.0   13.4167
281     3.0   1   NaN    0.0    0.0    7.7500
282     2.0   0  41.0    0.0    1.0   19.5000
283     1.0   1  36.0    1.0    2.0  120.0000
284     3.0   0   NaN    0.0    0.0    7.7792
285     1.0   1  55.0    0.0    0.0   50.0000
286     3.0   1  27.0    0.0    0.0    8.6625
287     1.0   0  22.0    0.0    2.0   49.5000
288     1.0   0  40.0    1.0    1.0  134.5000
289     1.0   1  45.0    1.0    0.0   83.4750
290     3.0   0  22.0    0.0    0.0    7.7250
291     1.0   1  25.0    1.0    0.0   55.4417
292     3.0   0  37.0    0.0    0.0    7.7500
293     3.0   1  36.5    1.0    0.0   17.4000
294     2.0   1  30.0    0.0    0.0   13.0000
295     3.0   0  29.0    0.0    0.0    7.9250
296     1.0   0  39.0    1.0    1.0   83.1583
297     3.0   1  13.0    4.0    2.0   31.3875
298     3.0   1   NaN    2.0    0.0   21.6792
299     3.0   0   NaN    0.0    0.0    7.7500

[300 rows x 6 columns]

In [33]:
new_test_data=new_test_data.fillna(new_test_data['age'].mean())

In [34]:
new_test_data

     pclass  sex        age  sibsp  parch      fare
0       1.0    1  36.000000    0.0    0.0   26.3875
1       3.0    0  30.027422    8.0    2.0   69.5500
2       1.0    1  30.027422    0.0    0.0   50.0000
3       2.0    1  34.000000    0.0    0.0   13.0000
4       2.0    1  28.000000    0.0    0.0   13.0000
5       2.0    0  31.000000    1.0    1.0   26.2500
6       1.0    1  40.000000    0.0    0.0   27.7208
7       3.0    1  30.027422    0.0    0.0    7.2292
8       3.0    1  22.000000    0.0    0.0    8.0500
9       1.0    1  30.000000    0.0    0.0   45.5000
10      3.0    1  30.027422    0.0    0.0    7.2250
11      3.0    1  30.027422    1.0    0.0   24.1500
12      1.0    1  31.000000    0.0    0.0   28.5375
13      3.0    1  30.027422    0.0    0.0    8.0500
14      2.0    0  19.000000    1.0    0.0   26.0000
15      3.0    1  30.027422    0.0    0.0    7.5500
16      3.0    1  30.027422    1.0    0.0    7.7500
17      2.0    0  34.000000    0.0    0.0   10.5000
18      3.0    0  30.027422    0.0    0.0    7.8792
19      2.0    1  16.000000    0.0    0.0   10.5000
20      1.0    0  22.000000    0.0    0.0  151.5500
21      3.0    1  21.000000    0.0    0.0    7.7500
22      3.0    0  39.000000    1.0    5.0   31.2750
23      2.0    1  19.000000    0.0    0.0   10.5000
24      3.0    1  26.000000    2.0    0.0    8.6625
25      2.0    0  44.000000    1.0    0.0   26.0000
26      3.0    0  21.000000    2.0    2.0   34.3750
27      3.0    0  30.027422    0.0    0.0    7.2250
28      1.0    0  42.000000    0.0    0.0  227.5250
29      1.0    1  30.027422    0.0    0.0   30.6958
..      ...  ...        ...    ...    ...       ...
270     2.0    0  42.000000    0.0    0.0   13.0000
271     1.0    1  24.000000    1.0    0.0   82.2667
272     3.0    1  27.000000    0.0    0.0    7.2250
273     1.0    1  42.000000    0.0    0.0   42.5000
274     3.0    0  41.000000    0.0    2.0   20.2125
275     3.0    1  30.027422    0.0    0.0    7.7500
276     3.0    1  33.000000    0.0    0.0    9.5000
277     1.0    1  30.027422    0.0    0.0   39.6000
278     2.0    0  28.000000    1.0    0.0   24.0000
279     3.0    1  32.000000    0.0    0.0    8.3625
280     3.0    0   4.000000    0.0    1.0   13.4167
281     3.0    1  30.027422    0.0    0.0    7.7500
282     2.0    0  41.000000    0.0    1.0   19.5000
283     1.0    1  36.000000    1.0    2.0  120.0000
284     3.0    0  30.027422    0.0    0.0    7.7792
285     1.0    1  55.000000    0.0    0.0   50.0000
286     3.0    1  27.000000    0.0    0.0    8.6625
287     1.0    0  22.000000    0.0    2.0   49.5000
288     1.0    0  40.000000    1.0    1.0  134.5000
289     1.0    1  45.000000    1.0    0.0   83.4750
290     3.0    0  22.000000    0.0    0.0    7.7250
291     1.0    1  25.000000    1.0    0.0   55.4417
292     3.0    0  37.000000    0.0    0.0    7.7500
293     3.0    1  36.500000    1.0    0.0   17.4000
294     2.0    1  30.000000    0.0    0.0   13.0000
295     3.0    0  29.000000    0.0    0.0    7.9250
296     1.0    0  39.000000    1.0    1.0   83.1583
297     3.0    1  13.000000    4.0    2.0   31.3875
298     3.0    1  30.027422    2.0    0.0   21.6792
299     3.0    0  30.027422    0.0    0.0    7.7500

[300 rows x 6 columns]

In [35]:
new_test_data=new_test_data.values

In [36]:
predicted_new_test=dc.predict(new_test_data)

In [37]:
predicted_new_test.shape

(300,)

In [38]:
import csv
index=0


with open('C:/Users/Anubhav Sanyal/Desktop/Summer of ML-Coding Blocks/Decision Trees/prediction.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    
    writer.writerows([predicted_new_test])
    index=index+1

csvFile.close()

In [39]:
import pydotplus

In [40]:
from sklearn.externals.six import StringIO

In [41]:
from IPython.display import Image

In [42]:
from sklearn.tree import export_graphviz

In [43]:
dot_data=StringIO()

In [44]:
export_graphviz(dc,out_file=dot_data,filled=True,rounded=True)

In [50]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())